// Container homepage
#main_container {
    margin: 20px 30px;
    min-height: 65%;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
}

// Container for to show menu
#menu_container {
    display: flex;
    flex-direction: column;
    width: 65%;
    margin: auto;
}