header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #569b87;
    height: 10%;

    .header__link {
        text-decoration: none;

        img {
            width: 240px;

            // Media queries
            @media screen and (max-width: $breakpoint_desktop) {
                width: 210px;
            }
            @media screen and (max-width: $breakpoint_tablets) {
                width: 190px;
            }
        }
    }

}