
// Title before card menu
.container__title {
    margin: 1.8em 0 1em;
    font-family: Helvetica, sans-serif;
    text-align: center;
}

// card menu
.menu__card {
    padding: 4em 6em;
    margin-bottom: 10%;
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.55);
    text-align: center;

    .card__separation {
        margin-top: 35px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .separation__img {
            width: 30%;
        }
        h2:hover:after {
            transform: scaleX(1);
        }
        h2:after {
            content: "";
            width: 100%;
            height: 100%;
            display: block;
            border-bottom: solid 3px;
            
            transform: scaleX(0);
            transition: 0.5s;
            transform-origin: 0% 50%;
        }
    }
    .card__line {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        p {
            margin-top: 0;
        }
        .line__description {
            text-align: start;
            font-weight: 400;
        }
        .line__price {
            margin-left: 30px;
            font-weight: 600;
        }
    }

    // Media queries
    @media screen and (max-width: $breakpoint_desktop) {
        padding: 1em 2em 4em;
    }
    @media screen and (max-width: $breakpoint_tablets) {
        padding: 1em 1em 4em;
    }
}