// import fonts from google fonts
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Dancing+Script&family=Devonshire&family=Itim&family=Kaushan+Script&family=Kurale&family=Nunito&family=Source+Serif+Pro&display=swap');

/*
font-family: 'Nunito', sans-serif;
font-family: 'Devonshire', cursive;
font-family: 'Itim', cursive;
font-family: 'Kurale', serif;
font-family: 'Source Serif Pro', serif;
font-family: 'Caveat', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Kaushan Script', cursive;
*/

// Variables 

$font_size_title: 2.3em;

$font_title_enchantee: 'Devonshire', cursive;
$font_menu_enchantee: 'Itim', cursive;


$font_title_francaise: 'Kurale', serif;
$font_menu_francaise: 'Source Serif Pro', serif;


$font_title_papilles: 'Dancing Script', cursive;
$font_menu_papilles: 'Caveat', cursive;


$font_title_gout: 'Kaushan Script', cursive;
$font_menu_gout: 'Caveat', cursive;

$font_link_footer: 'Nunito', sans-serif;