$primaryColor: #569b87;
$secondaryColor: #fcca46;

$color-menu-1: #3d1319;

// Colors menu 2 (3 colors)
$color-menu-2: #c67412;
$color-menu-2b: #a56799;
$color-menu-2t: #6b30eb;


$color-menu-3: #0887fb;
$color-menu-4: #72bf56;

$bg-color-menu-1: rgb(252,223,219);
$bg-color-menu-2: rgb(255,245,254);
$bg-color-menu-3: rgb(238,240,240);
$bg-color-menu-4: rgb(253,255,253);


// Breakpoints Responsive
$breakpoint_desktop: 1250px;
$breakpoint_tablets: 770px;
$breakpoint_mobiles: 500px;