@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Indie+Flower&family=Kalam&family=Devonshire&family=Itim&family=Kaushan+Script&family=Kurale&family=Nunito&family=Source+Serif+Pro&display=swap");
.bgc-menu-1 {
  background: #fcdfdb;
}

@font-face {
  font-family: "PeacerfulDay";
  src: url("../../assets/fonts/PeacerfulDay.woff2") format("woff2"), url("../../assets/fonts/PeacerfulDay.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/*
font-family: 'Nunito', sans-serif;
font-family: 'Devonshire', cursive;
font-family: 'Itim', cursive;
font-family: 'Kurale', serif;
font-family: 'Source Serif Pro', serif;
font-family: 'Dancing Script', cursive;
font-family: 'Kaushan Script', cursive;
font-family: 'Kalam', cursive;
*/
header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #569b87;
  height: 90px;
}
header .header__link {
  text-decoration: none;
}
header .header__link img {
  width: 240px;
}
@media screen and (max-width: 1250px) {
  header .header__link img {
    width: 210px;
  }
}
@media screen and (max-width: 770px) {
  header .header__link img {
    width: 190px;
  }
}

#main_container {
  margin: 20px 30px;
  min-height: 65%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
  grid-gap: 1rem;
}
@media screen and (max-width: 770px) {
  #main_container {
    margin: 20px 15px;
  }
}

#menu_container {
  display: flex;
  flex-direction: column;
  width: 65%;
  margin: auto;
}
@media screen and (max-width: 1250px) {
  #menu_container {
    width: 85%;
  }
}
@media screen and (max-width: 770px) {
  #menu_container {
    width: 96%;
    margin-bottom: 10%;
  }
}

#mentions_container {
  width: 65%;
  margin: auto;
  padding-bottom: 6%;
}
@media screen and (max-width: 1250px) {
  #mentions_container {
    width: 85%;
  }
}
@media screen and (max-width: 770px) {
  #mentions_container {
    width: 90%;
  }
}

footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #569b87;
  height: 8%;
}
footer div {
  padding: 0 30px;
}
footer div .footer__link {
  font-size: 19px;
  font-weight: 700;
  font-family: "Nunito", sans-serif;
  text-decoration: none;
  color: #fcca46;
}
@media screen and (max-width: 770px) {
  footer div {
    padding: 0 5px;
  }
  footer div .footer__link {
    font-size: 17px;
  }
}

@-webkit-keyframes shakelinks {
  0% {
    -webkit-transform: translate(2px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(0px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(2px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(2px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
  }
}
.shake__link:hover,
.shake__link:focus {
  -webkit-animation-name: shakelinks;
  -webkit-animation-duration: 0.8s;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

.container__title {
  margin: 1.8em 0 1em;
  font-family: Helvetica, sans-serif;
  text-align: center;
}
@media screen and (max-width: 770px) {
  .container__title {
    font-size: 1.7em;
  }
}

.menu__card {
  padding: 4em 6em;
  margin-bottom: 10%;
  text-align: center;
}
.menu__card .card__separation {
  margin-top: 35px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.menu__card .card__separation .separation__img {
  width: 30%;
}
.menu__card .card__separation h2:hover:after {
  transform: scaleX(1);
}
.menu__card .card__separation h2:after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  border-bottom: solid 3px;
  transform: scaleX(0);
  transition: 0.5s;
  transform-origin: 0% 50%;
}
.menu__card .card__line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.menu__card .card__line p {
  margin-top: 0;
}
.menu__card .card__line .line__description {
  text-align: start;
  font-weight: 400;
}
.menu__card .card__line .line__price {
  margin-left: 30px;
  font-weight: 600;
}
@media screen and (max-width: 1250px) {
  .menu__card {
    padding: 1em 2em 4em;
  }
}
@media screen and (max-width: 770px) {
  .menu__card {
    padding: 1em 1em 4em;
  }
}

.link__menu {
  text-decoration: none;
}
.link__menu .menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 500px;
  height: 95%;
  padding: 15px;
  border-radius: 3px;
  background-color: transparent;
  opacity: 1;
  transform: scale(1);
  transition: transform 400ms;
}
.link__menu .menu h1 {
  font-size: 2.1em;
}
.link__menu .menu .img_note {
  width: 80px;
  margin-top: -4em;
}
.link__menu .menu:hover {
  transform: scale(1.15);
  opacity: 0.8;
}
@media screen and (max-width: 770px) {
  .link__menu .menu:hover {
    transform: scale(1.05);
    opacity: 0.8;
  }
}
@media screen and (max-width: 770px) {
  .link__menu {
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.55);
  }
}

/* ------ Menu titles ------- */
.menu__title-1 {
  margin-top: 0;
  font-size: 2.4em;
  font-weight: 400;
  font-family: "Devonshire", cursive;
  color: #3d1319;
}

.menu__subtitle-1 {
  font-weight: 400;
  font-style: italic;
  font-family: "Itim", cursive;
  color: #3d1319;
}

.menu__title-2 {
  font-size: 2em;
  font-family: "Kurale", serif;
  background: -webkit-linear-gradient(-45deg, #c67412 10%, #a56799 60%, #6b30eb 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu__subtitle-2 {
  font-family: "Source Serif Pro", serif;
  color: #c67412;
}

.menu__title-3 {
  font-size: 2em;
  font-family: "Dancing Script", cursive;
  background: -webkit-linear-gradient(-45deg, #1530b7 10%, #56a7e6 60%, #56a7e6 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu__subtitle-3 {
  font-style: italic;
  font-family: "PeacerfulDay";
  color: #0887fb;
}

.menu__title-4 {
  font-weight: 500;
  font-size: 2em;
  font-family: "Kaushan Script", cursive;
  background: -webkit-linear-gradient(-45deg, #55924d 10%, #c8fa80 60%, #c8fa80 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu__subtitle-4 {
  font-style: italic;
  font-family: "PeacerfulDay";
  color: #72bf56;
}

@keyframes blink {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
#soon {
  margin-top: 30px;
  display: flex;
}
#soon #soon__box {
  width: 20%;
  margin: auto;
  color: #fcca46;
  background-color: #569b87;
  border-radius: 5px;
  font-size: 24px;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  justify-content: center;
  text-align: center;
}
#soon #soon__box #loading {
  margin: 0.4em;
}
#soon #soon__box #loading .dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 3px;
  background: #fcca46;
}
@media screen and (max-width: 1250px) {
  #soon #soon__box {
    width: auto;
    margin-bottom: 100px;
  }
}

#loading span {
  animation-name: blink;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

#loading span:nth-child(2) {
  animation-delay: 0.2s;
}

#loading span:nth-child(3) {
  animation-delay: 0.4s;
}

.card__m1 {
  color: #3d1319;
  font-family: "Kalam", cursive;
  border-radius: 3px;
}
.card__m1 .card__img {
  width: 120px;
  height: 120px;
}
.card__m1 .card__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 2.6rem;
  font-family: "Devonshire", cursive;
}
.card__m1 .card__line .line__description,
.card__m1 .card__line .line__price {
  font-size: 1.4rem;
}
.card__m1 .card__separation .separation__title {
  font-size: 1.8rem;
}
.card__m1 .card__footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 3em;
}
.card__m1 .card__footer .footer__img {
  width: 60px;
  height: 60px;
}
.card__m1 .card__footer .footer__title {
  margin-left: 10px;
  font-weight: 400;
  font-size: 2.2rem;
  font-family: "Devonshire", cursive;
}

.card__m2 {
  font-family: "Source Serif Pro", serif;
}
.card__m2 .m2__color_1 {
  color: #c67412;
}
.card__m2 .m2__color_2 {
  color: #a56799;
}
.card__m2 .m2__color_3 {
  color: #6b30eb;
}
.card__m2 .card__separation {
  font-family: "Source Serif Pro", serif;
}
.card__m2 .card__separation .separation__title {
  font-size: 1.5rem;
}
@media screen and (max-width: 500px) {
  .card__m2 .card__separation .separation__title {
    font-size: 1.2rem;
  }
}
.card__m2 .card__title {
  margin-top: 0;
  margin-bottom: 2em;
  font-size: 2.6rem;
  font-family: "Kurale", serif;
  background: -webkit-linear-gradient(-45deg, #c67412 10%, #a56799 60%, #6b30eb 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (max-width: 770px) {
  .card__m2 .card__title {
    margin-top: 1em;
    font-size: 2.3rem;
  }
}
.card__m2 .card__line .line__description,
.card__m2 .card__line .line__price {
  font-size: 1.4rem;
}
@media screen and (max-width: 770px) {
  .card__m2 .card__line .line__description,
.card__m2 .card__line .line__price {
    font-size: 1.2rem;
  }
}

.card__m3 {
  color: #000;
  font-family: "Indie Flower";
}
.card__m3 .card__title {
  margin-top: 0;
  margin-bottom: 1.5em;
  font-size: 4rem;
  font-family: "Dancing Script", cursive;
  background: -webkit-linear-gradient(-45deg, #1530b7 10%, #56a7e6 60%, #56a7e6 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (max-width: 770px) {
  .card__m3 .card__title {
    font-size: 2.5rem;
  }
}
.card__m3 .card__line .line__description,
.card__m3 .card__line .line__price {
  font-size: 1.4rem;
}

.card__m4 {
  color: #000;
  font-family: "Indie Flower";
}
.card__m4 .card__title {
  margin-top: 0;
  margin-bottom: 1.5em;
  font-size: 4rem;
  font-family: "Kaushan Script", cursive;
  background: -webkit-linear-gradient(-45deg, #55924d 10%, #c8fa80 60%, #c8fa80 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (max-width: 770px) {
  .card__m4 .card__title {
    font-size: 2.5rem;
  }
}
.card__m4 .card__line .line__description {
  font-size: 1.4rem;
}
.card__m4 .card__line .line__price {
  font-size: 1.6rem;
}

#mentions {
  margin-bottom: 3em;
}
#mentions p {
  font-size: 1.2em;
  line-height: 1.4em;
  font-family: "Nunito", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  min-height: 800px;
  background-color: #fff;
}

/*# sourceMappingURL=style.css.map */
