// Section Menu
.link__menu {
    text-decoration: none;

    .menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        height: 95%;
        border: 1px solid #000;
        border-radius: 3px;
        padding: 15px;

        // h2 {
        //     font-size: 2.4em;
        // }
        h1 {
            text-transform: uppercase;
            font-size: 2.4em;
        }
        .img_note {
            width: 80;
            margin-top: -4em;
        }
    }
}

// Add font on menu titles
.title_enchantee {
    margin-top: 0;
    font-size: 2.6em;
    font-weight: 400;
    font-family: $font_title_enchantee;
}
.menu_enchantee {
    font-weight: 400;
    font-style: italic;
    font-family: $font_menu_enchantee;
}

.title_chic {
    font-size: $font_size_title;
    font-family: $font_title_francaise;
}
.menu_chic {
    font-family: $font_menu_francaise;
}

.title_papilles {
    font-size: $font_size_title;
    font-family: $font_title_papilles;
}
.menu_papilles {
    font-style: italic;
    font-family: $font_menu_papilles;
}

.title_gout {
    font-weight: 600;
    font-size: $font_size_title;
    font-family: $font_title_gout;
}
.menu_gout {
    font-style: italic;
    font-family: $font_menu_gout;
}

// Section Prochainement
#soon {
    display: flex;
    height: 7%;
    justify-content: center;
    align-content: center;
}