// Section Menu
.link__menu {
    text-decoration: none;

    .menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        height: 95%;
        border: 1px solid #000;
        border-radius: 3px;
        padding: 15px;

        h1 {
            font-size: 2em;
        }
        .img_note {
            width: 80;
            margin-top: -4em;
        }
    }
}

// Menu titles
.menu__title-1 {
    margin-top: 0;
    font-size: 2.4em;
    font-weight: 400;
    font-family: $font_title_enchantee;
    color: $color-menu-1;
}
.menu__subtitle-1 {
    font-weight: 400;
    font-style: italic;
    font-family: $font_menu_enchantee;
    color: $color-menu-1;
}

.menu__title-2 {
    font-size: $font_size_title;
    font-family: $font_title_francaise;
}
.menu__subtitle-2 {
    font-family: $font_menu_francaise;
}

.menu__title-3 {
    font-size: $font_size_title;
    font-family: $font_title_papilles;
}
.menu__subtitle-3 {
    // font-style: italic;
    font-family: $font_menu_papilles;
}

.menu__title-4 {
    font-weight: 500;
    font-size: $font_size_title;
    font-family: $font_title_gout;
}
.menu__subtitle-4 {
    // font-style: italic;
    font-family: $font_menu_gout;
}

// Section Prochainement
#soon {
    display: flex;
    height: 7%;
    justify-content: center;
    align-content: center;
}