// Section Menu
.link__menu {
    text-decoration: none;
    // box-shadow: 0 1px 6px 0 rgba(32,33,36,0.55);

    .menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        
        min-height: 500px;
        height: 95%;
        padding: 15px;
        border-radius: 3px;
        background-color: transparent;

        h1 {
            font-size: 2.1em;
        }
        .img_note {
            width: 80px;
            margin-top: -4em;
        }

        opacity: 1;
        transform: scale(1);
        transition: transform 400ms;
        &:hover {
            transform: scale(1.15);
            opacity: 0.8;
        }

        @media screen and (max-width: $breakpoint_tablets) {
            &:hover {
                transform: scale(1.05);  // Je baisse le zoom car sinon il y a un problème avec la largeur sur mobile
                opacity: 0.8;
            }
        }
    }

    @media screen and (max-width: $breakpoint_tablets) {
        box-shadow: 0 1px 6px 0 rgba(32,33,36,0.55);
    }
}



/* ------ Menu titles ------- */

// Menu "La note enchantée"
.menu__title-1 {
    margin-top: 0;
    font-size: 2.4em;
    font-weight: 400;
    font-family: $font_title_enchantee;
    color: $color-menu-1;
}
.menu__subtitle-1 {
    font-weight: 400;
    font-style: italic;
    font-family: $font_menu_enchantee;
    color: $color-menu-1;
}

// Menu "Le chic à la française"
.menu__title-2 {
    font-size: $font_size_title;
    font-family: $font_title_francaise;

    background: -webkit-linear-gradient(-45deg, $color-menu-2 10%, $color-menu-2b 60%, $color-menu-2t 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.menu__subtitle-2 {
    font-family: $font_menu_francaise;
    color: $color-menu-2;
}

// Menu "Le délice des papilles"
.menu__title-3 {
    font-size: $font_size_title;
    font-family: $font_title_papilles;

    background: -webkit-linear-gradient(-45deg, #1530b7 10%, #56a7e6 60%, #56a7e6 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.menu__subtitle-3 {
    font-style: italic;
    font-family: $font_menu_papilles;
    color: $color-menu-3;
}

// Menu "La palette du gout"
.menu__title-4 {
    font-weight: 500;
    font-size: $font_size_title;
    font-family: $font_title_gout;

    background: -webkit-linear-gradient(-45deg, #55924d 10%, #c8fa80 60%, #c8fa80 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.menu__subtitle-4 {
    font-style: italic;
    font-family: $font_menu_gout;
    color: $color-menu-4;
}

@keyframes blink {
    0% {
      opacity: .2;
    }
    20% {
      opacity: 1;
    }
    100% {
      opacity: .2;
    }
}

// Section Prochainement
#soon {
    margin-top: 30px;
    display: flex;

    #soon__box {
        width: 20%;
        margin: auto;
        
        color: $secondaryColor;
        background-color: $primaryColor;
        border-radius: 15px;

        font-size: 24px;
        font-family: $font_link_footer;
        font-weight: 600;
        justify-content: center;
        text-align: center;
        
        #loading {
            margin: 0.4em;

            .dot {
                display:inline-block;
                width:12px;
                height:12px;
                border-radius:50%;
                margin-right:3px;
                background:$secondaryColor;
            }
        
        }

        // Media queries
        @media screen and (max-width: $breakpoint_desktop) {
            width: auto;
            margin-bottom: 100px;
        }
    }
}

// Animation 
#loading span {
    animation-name: blink;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}
#loading span:nth-child(2) {
    animation-delay: .2s;
}
#loading span:nth-child(3) {
    animation-delay: .4s;
}