$font_size_line_m1: 1.4rem;

// Card menu 1 : La note enchantée
.card__m1 {
    color: $color-menu-1;
    font-family: $font_menu_1;

    .card__img {
        width: 120px;
        height: 120px;
    }
    .card__title {
        margin-top: 0;
        margin-bottom: 0;
        font-weight: 400;
        font-size: 2.6rem;
        font-family: $font_title_enchantee;
    }
    .card__line {
        .line__description {
            font-size: $font_size_line_m1;
        }
        .line__price {
            font-size: $font_size_line_m1;
        }
    }
    .card__separation {
        .separation__title {
            font-size: 1.8rem;
        }
    }
    .card__footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 3em;

        .footer__img {
            width: 60px;
            height: 60px;
        }
        .footer__title {
            margin-left: 10px;
            font-weight: 400;
            font-size: 2.2rem;
            font-family: $font_title_enchantee;
        }
    }
}

// Card menu 2 : Le chic à la française
.card__m2 {
    // Font family
    font-family: $font_menu_francaise;
    // Color paragraphes
    .m2__color_1 {
        color: $color-menu-2;
    }
    .m2__color_2 {
        color: $color-menu-2b;
    }
    .m2__color_3 {
        color: $color-menu-2t;
    }

    .card__img {
        width: 120px;
        height: 120px;
    }
    .card__separation {
        font-size: 2em;
        font-family: $font_menu_francaise;

        .separation__title {
            font-size: 1.5rem;
        }
    }
    .card__title {
        margin-top: 0;
        margin-bottom: 2em;
        font-size: 2.6rem;
        font-family: $font_title_francaise;
        
        background: -webkit-linear-gradient(-45deg, $color-menu-2 10%, $color-menu-2b 60%, $color-menu-2t 80%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .card__line {
        .line__description {
            font-size: $font_size_line_m1;
        }
        .line__price {
            font-size: $font_size_line_m1;
        }
    }
}

// Card menu 3 : Le délice des papilles
.card__m3 {
    color: #000;
    font-family: $font_menu_2;

    .card__img {
        width: 120px;
        height: 120px;
    }
    .card__title {
        margin-top: 0;
        margin-bottom: 1.5em;
        font-size: 4rem;
        font-family: $font_title_papilles;

        background: -webkit-linear-gradient(-45deg, #1530b7 10%, #56a7e6 60%, #56a7e6 80%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .card__line {
        p {
            padding: 0 3em;
        }
        .line__description {
            font-size: $font_size_line_m1;
        }
        .line__price {
            font-size: $font_size_line_m1;
        }
    }
}

// Card menu 4 : La palette du goût
.card__m4 {
    color: #000;
    font-family: $font_menu_2;

    .card__img {
        width: 120px;
        height: 120px;
    }
    .card__title {
        margin-top: 0;
        margin-bottom: 1.5em;
        font-size: 4rem;
        font-family: $font_title_gout;

        background: -webkit-linear-gradient(-45deg, #55924d 10%, #c8fa80 60%, #c8fa80 80%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .card__line {
        p {
            padding: 0 3em;
        }
        .line__description {
            font-size: $font_size_line_m1;
        }
        .line__price {
            font-size: $font_size_line_m1 + 0.2rem;
        }
    }
}